<a href="https://colab.research.google.com/github/Folasade21/Analysis-of-the-influence-of-Metallica-concert-on-public-transportation-service/blob/master/boltipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import pandas as pd
import numpy as np
data = pd.read_csv("bolt_task.csv")
data

,Order Created Time,Order ID,Restaurant ID,Title,Currency,Quantity,Unit Price (with VAT),Total (without VAT),Total (with VAT),Bolt Service Fee,Unit Price (Without VAT)
0,2021-12-22 12:51:05,ZZW,18269,ProductBottle,eur,1,2.49,11.33,13.58,1.13,2.08
1,2021-12-22 12:51:05,ZZW,18269,ProductBottle,eur,1,10.99,11.33,13.58,1.13,9.16
2,2021-12-22 12:51:05,ZZW,18269,Deposit,eur,1,0.10,11.33,13.58,1.13,0.10
3,2021-12-26 15:27:27,ZY4,18256,ProductBottle,eur,1,35.99,29.99,35.99,3.02,29.99
4,2021-12-28 20:05:00,ZY0,18256,ProductBottle,eur,1,8.19,6.83,8.19,0.68,6.82
...,...,...,...,...,...,...,...,...,...,...,...
2559,2022-01-01 15:35:50,01W,18265,ProductBottle,eur,2,4.35,15.64,18.75,1.56,3.62
2560,2022-01-01 15:35:50,01W,18265,Deposit,eur,1,0.10,15.64,18.75,1.56,0.10
2561,2021-12-29 18:39:14,00O,18256,ProductBottle,eur,4,1.49,37.84,45.33,3.77,1.24
2562,2021-12-29 18:39:14,00O,18256,ProductBottle,eur,3,12.99,37.84,45.33,3.77,10.83
2563,2021-12-29 18:39:14,00O,18256,Deposit,eur,4,0.10,37.84,45.33,3.77,0.10

In [15]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564 entries, 0 to 2563
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_Created_Time  2564 non-null   object
 1   Order_ID            2564 non-null   object
 2   Restaurant_ID       2564 non-null   int64
 3   Title               2564 non-null   object
 4   Currency            2564 non-null   object
 5   Quantity            2564 non-null   int64
 6   Unit_price_vat      2564 non-null   float64
 7   Total               2564 non-null   float64
 8   Total_vat           2564 non-null   float64
 9   Bolt_Service_Fee    2564 non-null   float64
 10  Unit_Price          2564 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 220.5+ KB

In [26]:
data.columns

Index(['Order Created Time', 'Order ID', 'Restaurant ID', 'Title', 'Currency',
       'Quantity', 'Unit Price (with VAT)', 'Total (without VAT)',
       'Total (with VAT)', 'Bolt Service Fee', 'Unit Price (Without VAT)'],
      dtype='object')

In [81]:
data.rename(columns = {'Order Created Time':'Order_Created_Time', 'Order ID':'Order_ID',
                              'Restaurant ID':'Restaurant_ID', 'Unit Price (with VAT)':'Unit_price_with_vat', 'Total (without VAT)':'Total_without_vat', 'Total (with VAT)':'Total_with_vat', 'Bolt Service Fee':'Bolt_Service_Fee', 'Unit Price (Without VAT)':'Unit_Price_without_vat' }, inplace = True)

In [82]:
data

,Order_Created_Time,Order_ID,Restaurant_ID,Title,Currency,Quantity,Unit_price_with_vat,Total_without_vat,Total_with_vat,Bolt_Service_Fee,Unit_Price_without_vat
0,2021-12-22 12:51:05,ZZW,18269,ProductBottle,eur,1,2.49,11.33,13.58,1.13,2.08
1,2021-12-22 12:51:05,ZZW,18269,ProductBottle,eur,1,10.99,11.33,13.58,1.13,9.16
2,2021-12-22 12:51:05,ZZW,18269,Deposit,eur,1,0.10,11.33,13.58,1.13,0.10
3,2021-12-26 15:27:27,ZY4,18256,ProductBottle,eur,1,35.99,29.99,35.99,3.02,29.99
4,2021-12-28 20:05:00,ZY0,18256,ProductBottle,eur,1,8.19,6.83,8.19,0.68,6.82
...,...,...,...,...,...,...,...,...,...,...,...
2559,2022-01-01 15:35:50,01W,18265,ProductBottle,eur,2,4.35,15.64,18.75,1.56,3.62
2560,2022-01-01 15:35:50,01W,18265,Deposit,eur,1,0.10,15.64,18.75,1.56,0.10
2561,2021-12-29 18:39:14,00O,18256,ProductBottle,eur,4,1.49,37.84,45.33,3.77,1.24
2562,2021-12-29 18:39:14,00O,18256,ProductBottle,eur,3,12.99,37.84,45.33,3.77,10.83
2563,2021-12-29 18:39:14,00O,18256,Deposit,eur,4,0.10,37.84,45.33,3.77,0.10

In [83]:
data['Restaurant_ID'].unique()

array([18269, 18256, 19983, 18265, 18270, 19984, 18250, 19985, 19981,
       34221, 19982])

In [107]:
original_data = data.copy(deep=True) 
original_data

,Order_Created_Time,Order_ID,Restaurant_ID,Title,Currency,Quantity,Unit_price_with_vat,Total_without_vat,Total_with_vat,Bolt_Service_Fee,Unit_Price_without_vat
0,2021-12-22 12:51:05,ZZW,18269,ProductBottle,eur,1,2.49,11.33,13.58,1.13,2.08
1,2021-12-22 12:51:05,ZZW,18269,ProductBottle,eur,1,10.99,11.33,13.58,1.13,9.16
2,2021-12-22 12:51:05,ZZW,18269,Deposit,eur,1,0.10,11.33,13.58,1.13,0.10
3,2021-12-26 15:27:27,ZY4,18256,ProductBottle,eur,1,35.99,29.99,35.99,3.02,29.99
4,2021-12-28 20:05:00,ZY0,18256,ProductBottle,eur,1,8.19,6.83,8.19,0.68,6.82
...,...,...,...,...,...,...,...,...,...,...,...
2559,2022-01-01 15:35:50,01W,18265,ProductBottle,eur,2,4.35,15.64,18.75,1.56,3.62
2560,2022-01-01 15:35:50,01W,18265,Deposit,eur,1,0.10,15.64,18.75,1.56,0.10
2561,2021-12-29 18:39:14,00O,18256,ProductBottle,eur,4,1.49,37.84,45.33,3.77,1.24
2562,2021-12-29 18:39:14,00O,18256,ProductBottle,eur,3,12.99,37.84,45.33,3.77,10.83
2563,2021-12-29 18:39:14,00O,18256,Deposit,eur,4,0.10,37.84,45.33,3.77,0.10

In [85]:
original_data.shape

(2564, 11)

In [108]:
resturant_1=original_data[(original_data['Restaurant_ID'] == 18269)] 
resturant_1

,Order_Created_Time,Order_ID,Restaurant_ID,Title,Currency,Quantity,Unit_price_with_vat,Total_without_vat,Total_with_vat,Bolt_Service_Fee,Unit_Price_without_vat
0,2021-12-22 12:51:05,ZZW,18269,ProductBottle,eur,1,2.49,11.33,13.58,1.13,2.08
1,2021-12-22 12:51:05,ZZW,18269,ProductBottle,eur,1,10.99,11.33,13.58,1.13,9.16
2,2021-12-22 12:51:05,ZZW,18269,Deposit,eur,1,0.10,11.33,13.58,1.13,0.10
20,2021-12-25 10:38:34,ZPO,18269,ProductBottle,eur,1,4.99,19.82,23.73,1.97,4.16
21,2021-12-25 10:38:34,ZPO,18269,Deposit,eur,3,0.10,19.82,23.73,1.97,0.10
22,2021-12-25 10:38:34,ZPO,18269,ProductBottle,eur,1,5.99,19.82,23.73,1.97,4.99
23,2021-12-25 10:38:34,ZPO,18269,ProductBottle,eur,1,6.75,19.82,23.73,1.97,5.63
24,2021-12-25 10:38:34,ZPO,18269,ProductBottle,eur,3,1.90,19.82,23.73,1.97,1.58
675,2021-12-20 12:47:38,PX7,18269,ProductBottle,eur,3,9.99,30.34,36.33,3.02,8.33
676,2021-12-20 12:47:38,PX7,18269,ProductBottle,eur,4,1.49,30.34,36.33,3.02,1.24
677,2021-12-20 12:47:38,PX7,18269,Deposit,eur,4,0.10,30.34,36.33,3.02,0.10
761,2021-12-22 17:40:02,OEJ,18269,ProductBottle,eur,1,1.70,15.84,18.99,1.58,1.42
762,2021-12-22 17:40:02,OEJ,18269,ProductBottle,eur,1,7.99,15.84,18.99,1.58,6.66
763,2021-12-22 17:40:02,OEJ,18269,Deposit,eur,1,0.10,15.84,18.99,1.58,0.10
764,2021-12-22 17:40:02,OEJ,18269,ProductBottle,eur,1,9.20,15.84,18.99,1.58,7.67
905,2021-12-24 20:15:19,M84,18269,ProductBottle,eur,1,33.99,28.33,33.99,2.86,28.33
1153,2021-12-24 19:55:49,IU4,18269,ProductBottle,eur,1,1.90,17.86,21.37,1.76,1.58
1154,2021-12-24 19:55:49,IU4,18269,Deposit,eur,2,0.10,17.86,21.37,1.76,0.10
1155,2021-12-24 19:55:49,IU4,18269,ProductBottle,eur,1,1.90,17.86,21.37,1.76,1.58
1156,2021-12-24 19:55:49,IU4,18269,ProductBottle,eur,1,1.70,17.86,21.37,1.76,1.42
1157,2021-12-24 19:55:49,IU4,18269,ProductBottle,eur,2,1.49,17.86,21.37,1.76,1.24
1158,2021-12-24 19:55:49,IU4,18269,ProductBottle,eur,1,12.59,17.86,21.37,1.76,10.49
1159,2021-12-24 19:55:49,IU4,18269,Deposit,eur,1,0.10,17.86,21.37,1.76,0.10
1234,2021-12-27 14:19:03,HX6,18269,ProductBottle,eur,3,9.99,24.98,29.97,2.52,8.33
1410,2021-12-29 16:06:15,FFV,18269,ProductBottle,eur,1,10.99,59.38,71.25,5.99,9.16
1411,2021-12-29 16:06:15,FFV,18269,ProductBottle,eur,1,7.99,59.38,71.25,5.99,6.66
1412,2021-12-29 16:06:15,FFV,18269,ProductBottle,eur,1,14.99,59.38,71.25,5.99,12.49
1413,2021-12-29 16:06:15,FFV,18269,ProductBottle,eur,1,24.99,59.38,71.25,5.99,20.83
1414,2021-12-29 16:06:15,FFV,18269,ProductBottle,eur,1,12.29,59.38,71.25,5.99,10.24
1503,2022-01-01 19:58:19,E5H,18269,ProductBottle,eur,4,1.75,8.93,10.60,0.84,1.46
1504,2022-01-01 19:58:19,E5H,18269,Deposit,eur,4,0.10,8.93,10.60,0.84,0.10
1505,2022-01-01 19:58:19,E5H,18269,ProductBottle,eur,2,1.50,8.93,10.60,0.84,1.25
1506,2022-01-01 19:58:19,E5H,18269,Deposit,eur,2,0.10,8.93,10.60,0.84,0.10
1902,2021-12-25 20:34:50,8RR,18269,ProductBottle,eur,2,8.99,14.98,17.98,1.51,7.49
1942,2021-12-25 20:17:10,841,18269,ProductBottle,eur,1,5.99,4.99,5.99,0.50,4.99
2236,2021-12-23 16:06:13,43R,18269,ProductBottle,eur,3,9.99,24.98,29.97,2.52,8.33
2390,2021-12-20 13:03:49,1UP,18269,ProductBottle,eur,1,9.49,7.91,9.49,0.79,7.91

In [87]:
resturant_1.shape

(37, 11)

In [109]:
resturant_1['resturant_benefit']= resturant_1['Total_with_vat']-resturant_1['Bolt_Service_Fee']
resturant_1

<ipython-input-109-245624a31dd4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resturant_1['resturant_benefit']= resturant_1['Total_with_vat']-resturant_1['Bolt_Service_Fee']

,Order_Created_Time,Order_ID,Restaurant_ID,Title,Currency,Quantity,Unit_price_with_vat,Total_without_vat,Total_with_vat,Bolt_Service_Fee,Unit_Price_without_vat,resturant_benefit
0,2021-12-22 12:51:05,ZZW,18269,ProductBottle,eur,1,2.49,11.33,13.58,1.13,2.08,12.45
1,2021-12-22 12:51:05,ZZW,18269,ProductBottle,eur,1,10.99,11.33,13.58,1.13,9.16,12.45
2,2021-12-22 12:51:05,ZZW,18269,Deposit,eur,1,0.10,11.33,13.58,1.13,0.10,12.45
20,2021-12-25 10:38:34,ZPO,18269,ProductBottle,eur,1,4.99,19.82,23.73,1.97,4.16,21.76
21,2021-12-25 10:38:34,ZPO,18269,Deposit,eur,3,0.10,19.82,23.73,1.97,0.10,21.76
22,2021-12-25 10:38:34,ZPO,18269,ProductBottle,eur,1,5.99,19.82,23.73,1.97,4.99,21.76
23,2021-12-25 10:38:34,ZPO,18269,ProductBottle,eur,1,6.75,19.82,23.73,1.97,5.63,21.76
24,2021-12-25 10:38:34,ZPO,18269,ProductBottle,eur,3,1.90,19.82,23.73,1.97,1.58,21.76
675,2021-12-20 12:47:38,PX7,18269,ProductBottle,eur,3,9.99,30.34,36.33,3.02,8.33,33.31
676,2021-12-20 12:47:38,PX7,18269,ProductBottle,eur,4,1.49,30.34,36.33,3.02,1.24,33.31
677,2021-12-20 12:47:38,PX7,18269,Deposit,eur,4,0.10,30.34,36.33,3.02,0.10,33.31
761,2021-12-22 17:40:02,OEJ,18269,ProductBottle,eur,1,1.70,15.84,18.99,1.58,1.42,17.41
762,2021-12-22 17:40:02,OEJ,18269,ProductBottle,eur,1,7.99,15.84,18.99,1.58,6.66,17.41
763,2021-12-22 17:40:02,OEJ,18269,Deposit,eur,1,0.10,15.84,18.99,1.58,0.10,17.41
764,2021-12-22 17:40:02,OEJ,18269,ProductBottle,eur,1,9.20,15.84,18.99,1.58,7.67,17.41
905,2021-12-24 20:15:19,M84,18269,ProductBottle,eur,1,33.99,28.33,33.99,2.86,28.33,31.13
1153,2021-12-24 19:55:49,IU4,18269,ProductBottle,eur,1,1.90,17.86,21.37,1.76,1.58,19.61
1154,2021-12-24 19:55:49,IU4,18269,Deposit,eur,2,0.10,17.86,21.37,1.76,0.10,19.61
1155,2021-12-24 19:55:49,IU4,18269,ProductBottle,eur,1,1.90,17.86,21.37,1.76,1.58,19.61
1156,2021-12-24 19:55:49,IU4,18269,ProductBottle,eur,1,1.70,17.86,21.37,1.76,1.42,19.61
1157,2021-12-24 19:55:49,IU4,18269,ProductBottle,eur,2,1.49,17.86,21.37,1.76,1.24,19.61
1158,2021-12-24 19:55:49,IU4,18269,ProductBottle,eur,1,12.59,17.86,21.37,1.76,10.49,19.61
1159,2021-12-24 19:55:49,IU4,18269,Deposit,eur,1,0.10,17.86,21.37,1.76,0.10,19.61
1234,2021-12-27 14:19:03,HX6,18269,ProductBottle,eur,3,9.99,24.98,29.97,2.52,8.33,27.45
1410,2021-12-29 16:06:15,FFV,18269,ProductBottle,eur,1,10.99,59.38,71.25,5.99,9.16,65.26
1411,2021-12-29 16:06:15,FFV,18269,ProductBottle,eur,1,7.99,59.38,71.25,5.99,6.66,65.26
1412,2021-12-29 16:06:15,FFV,18269,ProductBottle,eur,1,14.99,59.38,71.25,5.99,12.49,65.26
1413,2021-12-29 16:06:15,FFV,18269,ProductBottle,eur,1,24.99,59.38,71.25,5.99,20.83,65.26
1414,2021-12-29 16:06:15,FFV,18269,ProductBottle,eur,1,12.29,59.38,71.25,5.99,10.24,65.26
1503,2022-01-01 19:58:19,E5H,18269,ProductBottle,eur,4,1.75,8.93,10.60,0.84,1.46,9.76
1504,2022-01-01 19:58:19,E5H,18269,Deposit,eur,4,0.10,8.93,10.60,0.84,0.10,9.76
1505,2022-01-01 19:58:19,E5H,18269,ProductBottle,eur,2,1.50,8.93,10.60,0.84,1.25,9.76
1506,2022-01-01 19:58:19,E5H,18269,Deposit,eur,2,0.10,8.93,10.60,0.84,0.10,9.76
1902,2021-12-25 20:34:50,8RR,18269,ProductBottle,eur,2,8.99,14.98,17.98,1.51,7.49,16.47
1942,2021-12-25 20:17:10,841,18269,ProductBottle,eur,1,5.99,4.99,5.99,0.50,4.99,5.49
2236,2021-12-23 16:06:13,43R,18269,ProductBottle,eur,3,9.99,24.98,29.97,2.52,8.33,27.45
2390,2021-12-20 13:03:49,1UP,18269,ProductBottle,eur,1,9.49,7.91,9.49,0.79,7.91,8.70

In [101]:
resturant_1['Bolt_Service_Fee'].sum()

84.95

In [90]:
resturant_1['Total_with_vat'].sum()

1019.9700000000001

In [111]:
benefit= resturant_1['resturant_benefit'].sum()
print('Dear bolt partner, Your total balance for this payout is' , benefit )

Dear bolt partner, Your total balance for this payout is 935.0200000000002

In [62]:
resturant_2=original_data[(original_data['Restaurant_ID'] == 18256)] 
resturant_2

,Order_Created_Time,Order_ID,Restaurant_ID,Title,Currency,Quantity,Unit_price_with_vat,Total_without_vat,Total_with_vat,Bolt_Service_Fee,Unit_Price_without_vat
3,2021-12-26 15:27:27,ZY4,18256,ProductBottle,eur,1,35.99,29.99,35.99,3.02,29.99
4,2021-12-28 20:05:00,ZY0,18256,ProductBottle,eur,1,8.19,6.83,8.19,0.68,6.82
13,2021-12-23 13:37:08,ZTO,18256,ProductBottle,eur,2,18.99,31.65,37.98,2.28,15.83
26,2021-12-24 13:52:24,ZKU,18256,ProductBottle,eur,2,1.50,11.48,13.58,1.06,1.25
27,2021-12-24 13:52:24,ZKU,18256,Deposit,eur,2,0.10,11.48,13.58,1.06,0.10
...,...,...,...,...,...,...,...,...,...,...,...
2540,2022-01-01 12:09:35,5.0,18256,ProductBottle,eur,1,8.19,6.83,8.19,0.68,6.82
2553,2021-12-19 20:25:33,02D,18256,ProductBottle,eur,2,12.39,20.65,24.78,2.08,10.33
2561,2021-12-29 18:39:14,00O,18256,ProductBottle,eur,4,1.49,37.84,45.33,3.77,1.24
2562,2021-12-29 18:39:14,00O,18256,ProductBottle,eur,3,12.99,37.84,45.33,3.77,10.83
2563,2021-12-29 18:39:14,00O,18256,Deposit,eur,4,0.10,37.84,45.33,3.77,0.10

In [65]:
resturant_2.shape

(598, 11)

In [66]:
resturant_3=original_data[(original_data['Restaurant_ID'] == 19983)] 
resturant_3

,Order_Created_Time,Order_ID,Restaurant_ID,Title,Currency,Quantity,Unit_price_with_vat,Total_without_vat,Total_with_vat,Bolt_Service_Fee,Unit_Price_without_vat
5,2021-12-22 20:42:22,ZU0,19983,Deposit,eur,1,0.10,20.26,24.25,1.44,0.10
6,2021-12-22 20:42:22,ZU0,19983,ProductBottle,eur,2,1.49,20.26,24.25,1.44,1.24
7,2021-12-22 20:42:22,ZU0,19983,Deposit,eur,2,0.10,20.26,24.25,1.44,0.10
8,2021-12-22 20:42:22,ZU0,19983,ProductBottle,eur,3,6.49,20.26,24.25,1.44,5.41
9,2021-12-22 20:42:22,ZU0,19983,ProductBottle,eur,1,1.50,20.26,24.25,1.44,1.25
...,...,...,...,...,...,...,...,...,...,...,...
2548,2021-12-30 19:58:47,02I,19983,ProductBottle,eur,2,1.49,29.34,35.17,2.10,1.24
2549,2021-12-30 19:58:47,02I,19983,ProductBottle,eur,1,31.99,29.34,35.17,2.10,26.66
2554,2021-12-27 11:31:04,02A,19983,Deposit,eur,1,0.10,9.13,10.94,0.91,0.10
2555,2021-12-27 11:31:04,02A,19983,ProductBottle,eur,1,9.49,9.13,10.94,0.91,7.91
2556,2021-12-27 11:31:04,02A,19983,ProductBottle,eur,1,1.35,9.13,10.94,0.91,1.13